
{% extends 'logistic/model/base_features.html' %}
{% load static %}

{% block static_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'logistic/css/log_style.css' %}">
{% endblock static_links %}

{% block peformance %}
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'roc-log' %}">ROC</a> 
        <a class="dropdown-item" href="{% url 'confusion-log' %}">Confusion Matrix</a>
        <a class="dropdown-item" href="{% url 'overfitting-log' %}">Overfitting Test</a>  
    </div>
{% endblock peformance %}

{% block diagnostic %}
    <span><li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Diagnostics</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'residuals' %}">Residuals</a> 
              <a class="dropdown-item" href="{% url 'student_residuals' %}">Student Residuals</a> 
              <a class="dropdown-item" href="{% url 'normal_plot' %}">Normal Plot</a> 
              <a class="dropdown-item" href="{% url 'cooks_plot' %}">Cooks Distance</a> 
              <a class="dropdown-item" href="{% url 'partial_plot' %}">Partial Plot</a> 
          </div>
    </li></span>
{% endblock diagnostic %}

{% block risk %}
    <span><li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Risk</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'probability_risk_cluster' %}">Clustering PD</a> 
              <a class="dropdown-item" href="{% url 'elbow-plot' %}">Elbow Method</a> 
          </div>
    </li></span>
{% endblock risk %}

{% block image %}
    <div class="container contained enter">
       <img src="{% static 'logistic/files/data.png' %}" alt="No Picture" class="image">
    </div>
{% endblock image %}

{% block probability %}

<div class="probability-container">
    <label>Calculated Probability</label>
    <input type="text" id="probability-result" readonly>
</div>
{% endblock probability %}