#files
name: Python CI

on:
  push:
    branches:
      - clean_code  # Change to your main branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.12  # Specify your desired Python version

    - name: Install dependencies
      run: pip install -r requirements.txt  # If you have any dependencies

    - name: Run unit tests
      run: pytest
